

body {
    margin: 10px;
    font-family: Arial;
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
}


header {
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

#juegos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card{
    background: rgb(237, 240, 241);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}