

body {
    padding: 50px;
    font-family: Arial;
    background: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
}


h1 {    
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: rgb(63, 60, 70);
}

#juegos {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    gap: 20px;
    padding: 20px;
}

.card{
    background: rgb(237, 240, 241);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}
p {
    padding-left: 20px;
}